{% extends './base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | home {% endblock title %}

{% block content %}
	<!-- banner-slider -->
	<div class="w3l_banner_info">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-img">
							<img src="{% static 'images/b1.jpg' %}" class="img-responsive" alt="impetus">
						</div>
						<div class="slider_banner_info">
							<h4>Información 1</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut magna aliqua. </p>
							</div>
						</li>
						<li>
							<div class="slider-img">
								<img src="{% static 'images/b4.jpg' %}" class="img-responsive" alt="impetus">
							</div>
							<div class="slider_banner_info">
								<h4>Información 2</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut magna aliqua. </p>
							</div>
						</li>
						<li>
							<div class="slider-img">
								<img src="{% static 'images/b3.jpg' %}" class="img-responsive" alt="impetus">
							</div>
							<div class="slider_banner_info">
								<h4>Información 3</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut magna aliqua. </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<!-- //banner-slider -->

		<!-- service-starts-here -->
		<div class="wthree-main-content">
			<section class="w3-about text-center">
				<div class="container">
					<h3 class="w3l-title">Certificación de Documentos</h3>
					<div class="col-md-6 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></a>
						</div>
						<h4>1. Registro</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat.</p>
					</div>
					<div class="col-md-6 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon"><i class="glyphicon glyphicon-hand-up" aria-hidden="true"></i></a>
						</div>
						<h4>2. Solicitud</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat.</p>
					</div>
					<div class="col-md-6 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon"><i class="fa fa-laptop" aria-hidden="true"></i></a>
						</div>
						<h4>3. Entrega</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat.</p>
					</div>
					<div class="col-md-6 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon"><i class="glyphicon glyphicon-check" aria-hidden="true"></i></a>
						</div>
						<h4>4. Verificación</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</section>
		</div>
		<!-- //service-ends-here -->

		<!-- autoridades -->
		<div id="testimonials" class="review">
			<div class="container">
				<h2 class="title-w3">Autoridades Universitarias de Certificación</h2>
				<div class="test-monials">
					<!--//screen-gallery-->
					<div class="sreen-gallery-cursual">
						<div id="owl-demo" class="owl-carousel">
							<div class="item-owl">
								<div class="test-review">
									<p><img src="{% static 'images/left-quote.png' %}" alt="">Rector...Lorem ipsum dolor sit ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<img src="{% static 'images/right-quote.png' %}" alt=""></p>
									<div class="img-agile">
										<img src="{% static 'images/t1.jpg' %}" class="img-responsive" alt=""/>
									</div>
									<h5>Mario Bonucci</h5>
								</div>
							</div>
							<div class="item-owl">
								<div class="test-review">
									<p> <img src="{% static 'images/left-quote.png' %}" alt="">Secretario...Lorem ipsum dolor sit ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<img src="{% static 'images/right-quote.png' %}" alt=""></p>
									<div class="img-agile">
										<img src="{% static 'images/t2.jpg' %}" class="img-responsive" alt=""/>
									</div>
									<h5>José Andérez</h5>
								</div>
							</div>
							<div class="item-owl">
								<div class="test-review">
									<p><img src="{% static 'images/left-quote.png' %}" alt="">Coordinador OCGRE...Lorem ipsum dolor sit ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<img src="{% static 'images/right-quote.png' %}" alt=""></p>
									<div class="img-agile">
										<img src="{% static 'images/t3.jpg' %}" class="img-responsive" alt=""/>
									</div>
									<h5>Natalia</h5>
								</div>
							</div>
						</div>
						<!--//screen-gallery-->
					</div>
				</div>
			</div>
		</div>
	<!-- //autoridades-ends-here -->
	<!-- team-inner-page -->
	<div class="team">
		<div class="container">
			<h3>Oficina Central de Grados y Registro de Egresados (OCGRE)</h3>
			<div class="w3l_team_grids">
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="{% static 'images/te2.jpg' %}" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Rita James</h4>
					<p>Unidad de Archivo</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="{% static 'images/te1.jpg' %}" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Dino Jass</h4>
					<p>Unidad de Receptoria</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="{% static 'images/te3.jpg' %}" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Michael Doe</h4>
					<p>Unidad de Procesamiento</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="{% static 'images/te4.jpg' %}" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#" class="pinterest"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Mariya Thomas</h4>
					<p>Unidad de Informatica</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team-inner-page -->
{% endblock content %}
