{% extends '../home/base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | password reset {% endblock title %}

{% block content %}

<!-- banner-slider-about -->
<div class="w3l_banner_info two">
  <h3><a href="{% url 'password_reset' %}">Recuperar Cuenta</a></h3>
</div>
<div class="clearfix"></div>

<div class="mail">
  <div class="container">
    <div class="clearfix"> </div>
    <div class="w3l_contact_grids">
          <div class="col-md-12 w3l_contact_grid_left">
            <form method="post">
              {% csrf_token %}
              {{form.as_p}}
              <input type="submit" value="Enviar enlace de recuperación" />
            </form>
          </div>
    </div>
  </div>
</div
{% endblock content %}
