{% extends '../user/base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | create request {% endblock title %}

{% block menu %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="sidebar-menu">
        <li class="header"><center>Menú</center></li>
        <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Solicitudes</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="{% url 'get_requests' %}"><i class="fa fa-angle-right"></i> Solicitudes Realizadas</a></li>
              <li><a href="{% url 'create_request' %}"><i class="fa fa-angle-right"></i> Realizar Solicitud</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock menu %}

{% block content %}
<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
     <div class="modal-content modal-info">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-body modal-spa">
         <div class="login-grids">
           <div class="login">
               <center>
                 <h3><p style="color:green;">¡Tu solicitud a sido enviada!</p></h3>
                 <p> Lo mantedremos informado cuando su solicitud sea procesada.</p>
               </center>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- //modal -->

<h2 class="title1">Solicitud de Documentos</h2>
<div class="col-md-12 chart-layer1-right">
    <div class="user-marorm">
        <div class="malorm-bottom">
            <form action="{% url 'create_request' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tipo de Documentos: </label>
                    <div class="col-sm-8">
                           {{form.tipo}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><br></label>
                    <div class="col-sm-8">
                           <p><br></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Facultad o Núcleo: </label>
                    <div class="col-sm-8">
                           {{form.facultad_nucleo}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><br></label>
                    <div class="col-sm-8">
                           <p><br></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Escuela: </label>
                    <div class="col-sm-8">
                           {{form.escuela}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><br></label>
                    <div class="col-sm-8">
                           <p><br></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Titulo Obtenido: </label>
                    <div class="col-sm-8">
                           {{form.titulo_obtenido}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><br></label>
                    <div class="col-sm-8">
                           <p><br></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Fecha de Grado: </label>
                    <div class="col-sm-8">
                           {{form.fecha_grado}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><br></label>
                    <div class="col-sm-8">
                           <p><br></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Documentos a Solicitar: </label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-ms-1 control-label">Titulo</label>
                            <div class="col-ms-8">
                                   {{form.titulo}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-ms-1 control-label">Notas</label>
                            <div class="col-ms-8">
                                   {{form.notas}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-ms-1 control-label">Acta de Grado</label>
                            <div class="col-ms-8">
                                   {{form.acta}}
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Solicitar</button>
                </center>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
{% endblock content %}

{% block extrajs %}
	{% if message is True %}
		<script type="text/javascript">
				$(window).on('load',function(){
						$('#myModal').modal('show');
				});
		</script>
	{% endif %}
{% endblock extrajs %}