{% extends '../user/base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | account {% endblock title %}

{% block image_profile %}<img src="../../../../{{usuario.foto_perfil.url}}" class="img-circle" width="50" height="50">{% endblock image_profile %}

{% block menu %}
{% if usuario is not None %}
	{% if usuario_tipo.tipo is not None %}
		{% if usuario_tipo.tipo == 'AA' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-laptop"></i>
						<span>OCGRE</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="{% url 'info_certification_authority' %}"><i class="fa fa-angle-right"></i> Consultar OCGRE</a></li>
					</ul>
				</li>
			</ul>
		</div>
		{% endif %}
		{% if usuario_tipo.tipo == 'AC' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
			  <li class="header"><center>Menú</center></li>
			  <li class="treeview">
				<a href="#">
				  <i class="fa fa-laptop"></i>
				  <span>Certificadores</span>
				  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
				  <li><a href="{% url 'register_certifiers' %}"><i class="fa fa-angle-right"></i> Registrar Certificadores</a></li>      
				  <li><a href="{% url 'info_certifiers' %}"><i class="fa fa-angle-right"></i> Consultar Certificadores</a></li>
				</ul>
			  </li>
			  <li class="treeview">
				<a href="#">
					<i class="fa fa-folder"></i>
				  <span>Solicitudes</span>
				  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
				  <li><a href="{% url 'get_requests_autority_certification' %}"><i class="fa fa-angle-right"></i> Solicitudes de Certificación</a></li>      
				</ul>
			  </li>
			  <li class="treeview">
				<a href="#">
				  <i class="fa fa-folder"></i>
				  <span>Documentos</span>
				  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
				  <li><a href="{% url 'get_documents_beneficiariy' %}"><i class="fa fa-angle-right"></i> Documentos Certificados</a></li>      
				</ul>
			  </li>
			</ul>
		  </div>
		{% endif %}
		{% if usuario_tipo.tipo == 'C' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
	{% else %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="sidebar-menu">
			<li class="header"><center>Menú</center></li>
			<li class="treeview">
				<a href="#">
				  <i class="fa fa-laptop"></i>
				  <span>Solicitudes</span>
				  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
				  <li><a href="{% url 'get_requests' %}"><i class="fa fa-angle-right"></i> Solicitudes Realizadas</a></li>
				  <li><a href="{% url 'create_request' %}"><i class="fa fa-angle-right"></i> Realizar Solicitud</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
				  <i class="fa fa-folder"></i>
				  <span>Documentos</span>
				  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-angle-right"></i> Documentos Certificados</a></li>      
				</ul>
			  </li>
		</ul>
	</div>
	{% endif %}
{% else %}
		{% if usuario_tipo.unidad_id == 'UA' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
		{% if usuario_tipo.unidad_id == 'UP' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
		{% if usuario_tipo.unidad_id == 'UR' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
{% endif %}
{% endblock menu %}

{% block content %}
<h2 class="title1">Mis Documentos</h2>
{% if lista is True %}
	{% for item in list_documents %}
		<div class="col-md-8 compose-right widget-shadow">
			<div class="panel-default">
				<div class="panel-heading">
					Certificado #{{item.id}} 
				</div>
				<div class="panel-body">
					{% if item.is_validated is True and item.tipo == "C" %}
						<div class="alert alert-success">
							Certificado Validado por las Autoridades Correspondientes!
						</div>
					{% elif item.is_validated is False and item.tipo == "C" %}
						<div class="alert alert-danger">
							Certificado sin la firma del rector, solo validado por el secretario.
						</div>
					{% else %}
						<div class="alert alert-warning">
							Certificado Legalizado!
						</div>
					{% endif %}
					<form class="com-mail">
						<strong>Documento Certificado:</strong><input type="text" class="form-control1 control3" placeholder="{{item.title}}" disabled="disabled">
						<strong>Información del Certificado:</strong><input type="text" class="form-control1 control3" placeholder="{{item.info}}" disabled="disabled">
						<strong>Dirección del Certificado:</strong><input type="text" class="form-control1 control3" placeholder="{{item.address}}" disabled="disabled">
						<td>
							<td><a href="../../../../{{item.url }}" class="btn btn-primary btn-sm" target="_blank">Ver Documento</a></td>
						</td> 
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<div class="col-md-8 compose-right widget-shadow">
		<div class="panel-default">
			<div class="panel-heading">
			</div>
			<div class="panel-body">
				<div class="alert alert-danger">
					No tienes documentos certificados!
				</div>
			</div>
		</div>
	</div>
{% endif %}
<div class="clearfix"> </div>	
{% endblock content %}