{% extends './base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | account {% endblock title %}

{% block menu %}
{% if usuario is not None %}
	{% if usuario_tipo.tipo is not None %}
		{% if usuario_tipo.tipo == 'AA' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-laptop"></i>
						<span>OCGRE</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="{% url 'info_certification_authority' %}"><i class="fa fa-angle-right"></i> Consultar OCGRE</a></li>
					</ul>
				</li>
			</ul>
		</div>
		{% endif %}
		{% if usuario_tipo.tipo == 'AC' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="sidebar-menu">
		    <li class="header"><center>Menú</center></li>
		    <li class="treeview">
		      <a href="#">
		        <i class="fa fa-laptop"></i>
		        <span>Certificadores</span>
		        <i class="fa fa-angle-left pull-right"></i>
		      </a>
		      <ul class="treeview-menu">
		        <li><a href="{% url 'certifiers' %}"><i class="fa fa-angle-right"></i> Consultar Certificadores</a></li>
		      </ul>
		    </li>
		  </ul>
		</div>
		{% endif %}
		{% if usuario_tipo.tipo == 'C' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
	{% else %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="sidebar-menu">
			<li class="header"><center>Menú</center></li>

		</ul>
	</div>
	{% endif %}
{% else %}
		{% if usuario_tipo.unidad_id == 'UA' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
		{% if usuario_tipo.unidad_id == 'UP' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
		{% if usuario_tipo.unidad_id == 'UR' %}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="sidebar-menu">
				<li class="header"><center>Menú</center></li>

			</ul>
		</div>
		{% endif %}
{% endif %}
{% endblock menu %}

{% block content %}
<h2 class="title1">Cuenta</h2>
	<div class="col-md-12 chart-layer1-right">
		<div class="user-marorm">
			<div class="malorm-bottom">
					<p><img src="{% static 'images/i.png' %}"></p>
					{% if usuario is not None %}
						<div class="col-md-12">
						{% if usuario_tipo.tipo is not None %}
							<h2 class="title1">Cuenta de Autoridad</h2>
							{% if usuario_tipo.tipo == 'AA' %}
								<h2 class="title1">Autoridad de Acreditación</h2>
							{% endif %}
							{% if usuario_tipo.tipo == 'AC' %}
								<h2 class="title1">Autoridad de Certificación</h2>
							{% endif %}
							{% if usuario_tipo.tipo == 'C' %}
								<h2 class="title1">Certificador</h2>
							{% endif %}
						{% else %}
							<h2 class="title1">Cuenta de Usuario</h2>
						{% endif %}
						</div>
					{% else %}
						<div class="col-md-12">
							<h2 class="title1">Cuenta Organizacional de OCGRE</h2>
							{% if usuario_tipo.unidad_id == 'UA' %}
								<h2 class="title1">Unidad de Archivo</h2>
							{% endif %}
							{% if usuario_tipo.unidad_id == 'UP' %}
								<h2 class="title1">Unidad de Procesamiento</h2>
							{% endif %}
							{% if usuario_tipo.unidad_id == 'UR' %}
								<h2 class="title1">Unidad de Receptoria</h2>
							{% endif %}
						</div>
					{% endif %}

					<div class="col-md-12">
						<div class="wrap">
							<div class="bg-effect">
								<ul class="bt-list">
									<li><a href="#gridSystemModal" class="hvr-icon-rotate col-23" data-target="#gridSystemModal" data-toggle="modal">Modificar<br>Contraseña</a></li>
								</ul>
							</div>
						</div>
						<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
										<center><h4 class="modal-title" id="gridSystemModalLabel">Modificar Contraseña</h4></center>
									</div>
									<div class="modal-body">
											<div class="form-body">
												<form action="{% url 'account' %}" method="post">
													{% csrf_token %}
													<div class="form-group">
															<label class="col-md-2 control-label"> </label>
															<div class="col-md-12">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="fa fa-key"></i>
																	</span>
																	<input type="password" class="form-control1" placeholder="Contraseña Antigua" name="old_password">
																</div>
															</div>
													</div>
													<div class="form-group">
															<label class="col-md-2 control-label"> </label>
															<div class="col-md-12">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="fa fa-key"></i>
																	</span>
																	<input type="password" class="form-control1" placeholder="Contraseña Nueva" name="new_password1">
																</div>
															</div>
													</div>
													<div class="form-group">
															<label class="col-md-2 control-label"> </label>
															<div class="col-md-12">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="fa fa-key"></i>
																	</span>
																	<input type="password" class="form-control1" placeholder="Contraseña Nueva (Confirmación)" name="new_password2">
																</div>
															</div>
													</div>
													<div class="form-group">
															<div class="col-md-12">
																{% if form.errors %}
    															{% for field in form %}
        														{% for error in field.errors %}
            													<p style="color:red;">{{ error|escape }}</p>
        														{% endfor %}
    															{% endfor %}
															{% endif %}
															</div>
													</div>
													<p><br><br></p>
													<center>
														<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
														<button type="submit" class="btn btn-primary">Guardar Cambios</button>
													</center>
												</form>
											</div>
									</div>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
{% endblock content %}

{% block extrajs %}
	{% if error_change_password is True %}
		<script type="text/javascript">
				$(window).on('load',function(){
						$('#gridSystemModal').modal('show');
				});
		</script>
	{% endif %}
{% endblock extrajs %}
