{% extends './base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | account {% endblock title %}

{% block content %}
		<h2 class="title1">Mi Cuenta</h2>
		<div class="panel-info widget-shadow">
			<div class="col-md-6 panel-grids">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"></h3>
					</div>
					<div class="panel-body">
						Cuenta....
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
{% endblock content %}
