{% extends './base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | certification authority {% endblock title %}

{% block extracss %}
<script>
  window.addEventListener('load', function(){
    if( typeof web3 !='undefined'){
      console.log('web3 detected');
      web3 = new Web3(web3.currentProvider);
      console.log(web3.eth.accounts);
      document.getElementById("address").value =  web3.eth.accounts[0];
      var address = document.getElementById("address").value;
    }else{
      alert("Por favor instale MetaMask o en caso de tenerlo instaladO verifique la conexión del mismo con Certiula");
    }
  });
</script>
{% endblock extracss %}

{% block menu %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="sidebar-menu">
    <li class="header"><center>Menú</center></li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Certificadores</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{% url 'register_certifiers' %}"><i class="fa fa-angle-right"></i> Registrar Certificadores</a></li>      
        <li><a href="{% url 'info_certifiers' %}"><i class="fa fa-angle-right"></i> Consultar Certificadores</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock menu %}

{% block content %}
<h2 class="title1">Autoridad de Certificación</h2>
<div class="col-md-12 chart-layer1-right">
  <div class="user-marorm">
    <div class="malorm-bottom">
      <div class="form-body">
        <center><h2>Información de Registro OCGRE</h2></center>
        <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-8">
              <input type="text" name="owner" class="form-control" id="owner" placeholder="0x2870Db5e8230A861fBDe67d73d946f11D3E441f0" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-8">
              <input type="text" name="name" class="form-control" id="name" placeholder="OCGRE-ULA" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">ID</label>
            <div class="col-sm-8">
              <input type="number" name="id" class="form-control" id="id" placeholder="231398" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <input type="email" name="email" class="form-control" id="email" placeholder="natali@ula.ve" disabled="disabled">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
