{% extends './base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | certifier {% endblock title %}

{% block extracss %}
<script>
  window.addEventListener('load', function(){
    if( typeof web3 !='undefined'){
      console.log('web3 detected');
      web3 = new Web3(web3.currentProvider);
      console.log(web3.eth.accounts);
      document.getElementById("address").value =  web3.eth.accounts;
      var address = document.getElementById("address").value;
    }else{
      alert("Por favor instale MetaMask o en caso de tenerlo instaladO verifique la conexión del mismo con Certiula");
    }
  });
</script>
{% endblock extracss %}

{% block content %}
<h2 class="title1">Certificador</h2>
<div class="col-md-12 chart-layer1-right">
  <div class="user-marorm">
    <div class="malorm-bottom">

    </div>
  </div>
</div>
{% endblock content %}