{% extends '../home/base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | sign in {% endblock title %}

{% block content %}

<!-- banner-slider-about -->
<div class="w3l_banner_info two">
  <h3><a href="{% url 'passwordreset' %}">Recuperar Cuenta</a></h3>
</div>
<div class="clearfix"></div>

<div class="mail">
  <div class="container">
    <div class="clearfix"> </div>
    <div class="w3l_contact_grids">
      <form action="{% url 'passwordreset' %}" method="post">
        {% csrf_token %}
        <div class="col-md-12 w3l_contact_grid_left">
          <center><label><span>Ingresa el correo electronico asociado a la cuenta:<br><br></span></label></center>
          <input type="email" placeholder="ej. ocgre@ula.ve" name="email" required="" /><br><br>
        </div>
          <input type="submit" value="Enviar enlace de recuperación" />
      </form>
    </div>
  </div>
</div
{% endblock content %}
