{% extends './base.html' %}
{% load static %}

{% block title %}Certi ULA :: Sistema de Certificación de Documentos de la Universidad de Los Andes | profile {% endblock title %}

{% block content %}
		<h2 class="title1">Perfil</h2>
			<div class="col-md-12 chart-layer1-right">
				<div class="user-marorm">
					<div class="malorm-bottom">
								<div class="col-md-6 panel-grids">
									{% if usuario.foto_perfil %}
									<p><img src="../../{{usuario.foto_perfil.url}}" class="img-circle" width="280px" height="280px"></p>
									{% else %}
									<p><img src="{% static 'media/profile/user.png' %}" class="img-circle" width="280px" height="280px"></p>
									{% endif %}
									<div class="col-md-12">
										<h2 class="title1">{{user.first_name}} {{user.last_name}}</h2>
									</div>
								</div>
								<div class="col-md-6 panel-grids">
									<br><br>
									<a class="agile-icon"><i class="fa fa-list-alt" aria-hidden="true"></i> {{usuario.identificacion}}</a><br>
									<a class="agile-icon"><i class="fa fa-calendar" aria-hidden="true"></i> {{usuario.fecha_nacimiento}}</a><br>
									<a class="agile-icon"><i class="fa fa-home" aria-hidden="true"></i> {{usuario.direccion}}</a><br>
									<a class="agile-icon"><i class="fa fa-phone" aria-hidden="true"></i> {{usuario.telefono}}</a><br>
									<a class="agile-icon"><i class="fa fa-user" aria-hidden="true"></i> {{user.username}}</a><br>
									<a class="agile-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{user.email}}</a><br><br>

									<div class="col-md-12">
										<div class="wrap">
											<div class="bg-effect">
												<ul class="bt-list">
													<li><a href="#gridSystemModal" class="hvr-icon-rotate col-23" data-target="#gridSystemModal" data-toggle="modal">Editar</a></li>
												</ul>
											</div>
										</div>
										<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
														<center><h4 class="modal-title" id="gridSystemModalLabel">Editar Perfil</h4></center>
													</div>
													<div class="modal-body">
															<div class="form-body">
																<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
																	<div class="form-group">
																			<label class="col-md-2 control-label"> </label>
																			<div class="col-md-12">
																				<div class="input-group">
																					<span class="input-group-addon">
																						<i class="fa fa-home"></i>
																					</span>
																					<input type="text" class="form-control1" name="direccion" value="{{user_extension_form.direccion.value}}">
																				</div>
																			</div>
																	</div>
																	<div class="form-group">
																			<label class="col-md-2 control-label"><br></label>
																			<div class="col-md-12">
																				<div class="input-group">
																					<span class="input-group-addon">
																						<i class="fa fa-phone"></i>
																					</span>
																					<input type="text" class="form-control1" name="telefono" value="{{user_extension_form.telefono.value}}">
																				</div>
																			</div>
																	</div>
																	<div class="form-group">
																			<label class="col-md-2 control-label"><br></label>
																			<div class="col-md-12">
																				<div class="input-group">
																					<span class="input-group-addon">
																						<i class="fa fa-user"></i>
																					</span>
																					<input type="username" class="form-control1" name="username" value="{{user_form.username.value}}">
																				</div>
																			</div>
																	</div>
																	<div class="form-group">
																			<label class="col-md-2 control-label"><br></label>
																			<div class="col-md-12">
																				<div class="input-group">
																					<span class="input-group-addon">
																						<i class="fa fa-envelope-o"></i>
																					</span>
																					<input type="email" class="form-control1" name="email" value="{{user_form.email.value}}">
																				</div>
																			</div>
																	</div>
																	<div class="form-group">
																			<label class="col-md-2 control-label"><br></label>
																			<div class="col-md-12">
																				<div class="input-group">
																					<span class="input-group-addon">
																						<i class="fa fa-camera"></i>
																					</span>
																					{{user_extension_form.foto_perfil}}
																				</div>
																				<br>
																			</div>
																	</div>
																	<p><br></p>
																	<center>
																		{% csrf_token %}
																		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
																		<button type="submit" class="btn btn-primary">Guardar Cambios</button>
																	</center>
																</form>
															</div>
													</div>
												</div>
											</div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
									</div>

								</div>
								<div class="clearfix"></div>
							</div>
 					</div>
			</div>
			<div class="clearfix"> </div>
{% endblock content %}
